---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'

const iconData = [
  {
    title: 'VueJS',
    icon: 'i-devicon-vuejs',
    url: 'https://vuejs.org',
  },
  {
    title: 'NextJS',
    icon: 'i-devicon-nextjs',
    url: 'https://nextjs.org',
  },
  {
    title: 'Astro',
    icon: 'i-devicon-astro',
    url: 'https://astro.build',
  },
  {
    title: 'NestJS',
    icon: 'i-devicon-nestjs',
    url: 'https://nestjs.com',
  },
  {
    title: '.NET',
    icon: 'i-devicon-dot-net',
    url: 'https://dotnet.microsoft.com',
  },
  {
    title: 'Spring Boot',
    icon: 'i-devicon-spring',
    url: 'https://spring.io',
  },
  {
    title: 'C++',
    icon: 'i-devicon-cplusplus',
    url: 'https://www.w3schools.com/c/c_intro.php',
  },
  {
    title: 'C',
    icon: 'i-devicon-c',
    url: 'https://www.w3schools.com/c/c_intro.php',
  },
]
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Eric Freitas</h1>
    <p>Desenvolvedor Web FullStack, Mobile e Desktop.</p>
    <p>Crio páginas e aplicativos reativos e rápidos para a web, dispositívos móveis e computadores.</p>
    <p>
      <img width="640" height="360" src="/hero.jpg" alt="Hero" />
    </p>
    <p>
      Posso transformar ideias em realidade, criar soluções para problemas e melhorar o mundo, com ajuda da tecnologia.
    </p>
    <p>Aqui estão as tecnologias que possuo conhecimento:</p>
    <div class="flex gap-x-6">
      {iconData.map((icon) => <a href={icon.url} target="_blank" class={icon.icon} title={icon.title} />)}
    </div>
    <hr class="hr-line" />
    <p>Me encontre em</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a aria-label={link.text} href={link.href} target="_blank" class="prose-link">
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      Se tiver alguma dúvida, use este email
      <a prose-link aria-label={siteConfig.email} href={`mailto:${siteConfig.email}`}>
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
